<?php

return [
    'bt-log' => [
        "app-log" => [
            'name' => "app-log",
            'path' => __DIR__ . '/../../data/logs/application.log',
            'level' => \Monolog\Level::Debug,
        ],
        "sql-log" => [
            'name' => "sql-log",
            'path' => __DIR__ . '/../../data/logs/sql.log',
            'level' => \Monolog\Level::Debug,
        ]
    ]
];